<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CD Bot</title>
  </head>
  <body>
    <div id="app">
            {{ info }}
        <table class="table table-striped">
            <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Project name</th>
                <th scope="col">Subscribers count</th>
                <th scope="col">id</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(prj, index) in projects">
                <th scope="row">{{ index }}</th>
                <td>{{prj.name }}</td>
                <td>{{ prj.subscribers.length }}</td>
                <td>{{ prj._id}}</td>
                <td><button class="btn btn-danger" v-on:click="deleteProject(prj._id)">remove</button> </td>
            </tr>
            </tbody>
        </table>

        <div class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input v-model="name" type="text" class="form-control" id="projectName" placeholder="Project name">
            </div>
            <button v-on:click="addProject" class="btn btn-primary mb-2">Add</button>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
const config = {
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded'
  }
}
      var app = new Vue({
          el: "#app",
          data: {
              info: null, 
              name: null,
              projects: [
                  {name: "TestApp",  subscribers: 1, token: "l;sdlmaskdmksdasmkldmalks"},
                  {name: "TestApp1", subscribers: 20, token: "l;sdlmaskdmksdasmkldmalks"},
                  {name: "TestApp2", subscribers: 11, token: "l;sdlmaskdmksdasmkldmalks"},
                  {name: "TestApp3", subscribers: 5, token: "l;sdlmaskdmksdasmkldmalks"}
              ]
          },
          methods: {
                addProject: function(event){
                    const params = new URLSearchParams();
                    params.append('name', this.name);
                    axios
                    .post('/addproject', params, config).then(response => {
                        this.projects = response.data
                    }).catch(function (error) {
                         console.log(error);
                    });
                },
                deleteProject: function (id) {
                    const params = new URLSearchParams();
                    params.append('id', id);
                    axios
                    .post('/deleteproject', params, config)
                    .then(response => this.projects = response.data)
                    .catch(error => console.log(error));
                }
          },
        created: function(){
            axios
            .get('/projects')
            .then(response => (this.projects = response.data));
        }
      })  
    </script>
  </body>
</html>